[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
flake8 = "*"
pytest = "*"
cryptography = "*"

[requires]
python_version = "3.9"
